[Unit]
Description=NGINX Unit
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
PIDFile=/local/nginx-unit-{{nginx_unit_version}}/var/run/nginx-unit.pid
Environment=DAEMON_ARGS="--log /local/nginx-unit-{{nginx_unit_version}}/var/log/unit/nginx-unit.log --pid /local/nginx-unit-{{nginx_unit_version}}/var/run/nginx-unit.pid"
; EnvironmentFile=-/local/nginx-unit-{{nginx_unit_version}}/etc/default
ExecStart=/local/nginx-unit-{{nginx_unit_version}}/sbin/unitd $DAEMON_ARGS
ExecReload=
LimitNOFILE=1048576
LimitNOFILESoft=1048576

[Install]
WantedBy=multi-user.target