[Unit]
Description=NGINX Prometheus Exporter
After=network.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/local/nginx-prometheus-exporter_{{nginx_exporter_version}}_linux_amd64/nginx-prometheus-exporter \
    --nginx.scrape-uri=http://localhost/stub_status

[Install]
WantedBy=multi-user.target
