[Unit]
Description=Prometheus
After=network.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/local/prometheus-{{prometheus_version}}.linux-amd64/prometheus \
    --config.file /etc/prometheus/prometheus.yml \
    --storage.tsdb.path {{prometheus_storage_tsdb_path}} \
    --web.console.templates=/local/prometheus-{{prometheus_version}}.linux-amd64/consoles \
    --web.console.libraries=/local/prometheus-{{prometheus_version}}.linux-amd64/console_libraries \
{% if prometheus_web_external_url is defined %}
    --web.external-url={{prometheus_web_external_url}} \
{% endif %}
    --web.listen-address="127.0.0.1:9090"

[Install]
WantedBy=multi-user.target
