#jinja2: trim_blocks: False
global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus_metrics'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node_exporter_metrics'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9100']
  {%- if prometheus_nginx_exporter_localhost_job_name is defined %}
  - job_name: '{{ prometheus_nginx_exporter_localhost_job_name }}'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9113']
  {% endif %}
