{
    "listeners": {
        "*:8081": {
            "pass": "applications/perl"
        },
        "*:8082": {
            "pass": "applications/perl_postgres"
        }
    },
    "applications": {
        "perl": {
            "type": "perl",
            "working_directory": "/local/nginx-unit-{{nginx_unit_version}}/var/www/perl/",
            "script": "/local/nginx-unit-{{nginx_unit_version}}/var/www/perl/app.psgi"
        },
        "perl_postgres": {
            "type": "perl",
            "working_directory": "/local/nginx-unit-{{nginx_unit_version}}/var/www/perl/",
            "script": "/local/nginx-unit-{{nginx_unit_version}}/var/www/perl/app-postgres.psgi"
        }
    }
}
