server {
    listen      80;
    server_name localhost 127.0.0.1;

    access_log /dev/null;
    error_log /dev/null;

    location / {
        return 200 "200 OK\n";
        add_header Content-type text/plain;
    }
    location /memcached/ {
        set $memcached_key "ban";
        memcached_pass unix:/var/run/memcached/memcached.sock;
        error_page 404 502 504 = @backend;

        # echo -e 'add ban 0 86400 64\r\n<script>window.location.href = "http://captcha.service"</script>\r' | nc -U /var/run/memcached/memcached.sock
    }
    location @backend {
        proxy_pass http://localhost;
    }

    location /stub_status {
        stub_status;
    }
}

server {
    listen      80;
    server_name {{server_name}};

    access_log /dev/null;
    error_log /dev/null;

    location / {
        return 301 https://{{server_name}}$request_uri;
    }

    location /wrkx/ {
        root {{home_devhands}};
        autoindex on;
        autoindex_format html;
        types { text/html html; } default_type text/plain;
    }

    location /80/ {
        proxy_pass http://localhost:80/;
    }
    location /8080/ {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://localhost:8080/;
    }
    location /8081/ {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://localhost:8081/;
    }
    location /8082/ {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://localhost:8082/;
    }

    location /login/ {
        set $memcached_key "ban";
        memcached_pass 127.0.0.1:11211;
        error_page 404 502 504 = @backend;

        # echo -e 'add ban 0 3600 64\r\n<script>window.location.href = "http://captcha.service"</script>\r' | nc localhost 11211
    }
    location @backend {
        proxy_pass http://localhost;
    }
}
