# This is required to proxy Grafana Live WebSocket connections.
map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

upstream grafana {
    server localhost:3000;
}

server {
    listen      443 ssl;
    server_name {{server_name}};

    ssl_certificate     /etc/letsencrypt/live/{{server_name}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{server_name}}/privkey.pem;
    ssl_session_timeout 60m;

    location ~ /(.well-known/acme-challenge/.*)$ {
        auth_basic off;
        root /tmp/;
    }

    # root /var/www/html/;
    root /local/nginx-unit-1.32.1/var/www/html/;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
    location /wrkx/ {
        root {{home_devhands}};
        autoindex on;
        autoindex_format html;
        types { text/html html; } default_type text/plain;
    }

    location /grafana/ {
        auth_basic Unautorized;
        auth_basic_user_file /etc/nginx/user_auth;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://grafana;
    }

    # Proxy Grafana Live WebSocket connections.
    location /grafana/api/live/ {
        auth_basic Unautorized;
        auth_basic_user_file /etc/nginx/user_auth;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $host;
        proxy_pass http://grafana;
    }

    location /prometheus/ {
        auth_basic Unautorized;
        auth_basic_user_file /etc/nginx/user_auth;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://127.0.0.1:9090;
    }
}
